.logo{
    width: 139px;
    height: 55px;

    display: flex;
    justify-content: space-between;
}

.logo__text{
    font-family: Lalezar;
    font-weight: normal;
    font-size: 22px;
    line-height: 28.6px;
    color:var(--white);
}