.section__wrapper {
  width: 1215px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section__desc,
.section__preview {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section__img {
  width: 254.8px;
  height: 402.16px;
}

.section__preview-button {
  margin-top: 36px;
}

.section__preview::before {
  content: "";
  width: 571px;
  height: 100%;

  position: absolute;
  top: -20px;

  background: var(--light-green);
  border-top-left-radius: 35%;
  border-bottom-right-radius: 35%;

  z-index: -1;
}

.section__preview::after {
  content: "$50";
  width: 105px;
  height: 105px;

  position: absolute;
  bottom: 0;
  right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Neuton;
  font-weight: 700;
  font-size: 38.89px;
  line-height: 62.22px;

  color: var(--dark-green);
  border: 3px dotted var(--dark-green);
  border-radius: 50%;
}

.section__desc--position-left {
  margin-right: 130px;
  position: relative;
}

.section__desc--position-right {
  margin-left: 130px;
  position: relative;
}

.section__desc--position-right::before {
  content: "";
  width: 5px;
  height: 518px;

  position: absolute;
  top: 0;
  right: -50px;

  border-radius: 3px;
  background: linear-gradient(var(--dark-green), var(--light-green));
}

.section__desc--position-left::before {
  content: "";
  width: 5px;
  height: 518px;

  position: absolute;
  top: 0;
  left: -50px;

  border-radius: 3px;
  background: linear-gradient(var(--dark-green), var(--light-green));
}

.section__desc-control {
  width: 385px;
  display: flex;
  justify-content: space-between;
}

.section__desc-control--position-left {
  align-self: flex-start;
}

.section__desc-control--position-right {
  align-self: flex-end;
}

.section__slider-nav {
  margin-bottom: 30px;
}
