.section__wrapper {
  width: 1215px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section__product-list {
  display: flex;
  flex-direction: column;
}

.section__product-list-up {
  display: flex;
  justify-content: space-between;
}

.section__product-list-down {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
