.section__wrapper {
  width: 1215px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section__product-list {
  display: flex;
  flex-direction: column;
}

.section__product-list-up {
  display: flex;
  justify-content: space-between;
}

.section__product-list-down {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 30px;
}

.section__desc,
.section__preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section__preview-button {
  margin-top: 36px;
}

.section__preview::before {
  content: "";
  width: 571px;
  height: 530px;

  position: absolute;

  background: var(--light-green);
  border-top-left-radius: 35%;
  border-bottom-right-radius: 35%;

  z-index: -1;
}

.section__desc--position-left {
  margin-right: 130px;
}

.section__desc--position-right {
  margin-left: 130px;
}

.section__desc-control {
  width: 385px;
  display: flex;
  justify-content: space-between;
}

.section__desc-control--position-left {
  align-self: flex-start;
}

.section__desc-control--position-right {
  align-self: flex-end;
}
