.section-about__wrapper {
  width: 1215px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section-about__img {
  width: 481px;
  height: 481px;
}

.section-about__desc {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.section-about__img-wrapper {
  position: relative;
}

.section-about__img-wrapper::before {
  content: "";
  width: 105px;
  height: 105px;

  position: absolute;
  top: 500px;
  right: 60px;

  border: 3px dotted var(--dark-green);
  border-radius: 50%;
  background-image: url("../img/play.svg");
  background-size: cover 50%;
  background-repeat: no-repeat;
  background-position-x: 58%;
  background-position-y: 50%;
}
