.about-section__desc {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.about-section__img-wrapper{
  position: relative;
}

.about-section__img-wrapper::before{
  content: "";
  width: 105px;
  height: 105px;

  position: absolute;
  bottom: 60px;
  right: 60px;

  border: 3px dotted var(--dark-green);
  border-radius: 50%;
  background-image: url("../img/play.svg");
  background-size: cover 50%;
  background-repeat: no-repeat;
  background-position-x: 58%;
  background-position-y: 50%;


}
