.about-section__desc {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.about-section__img-wrapper {
  width: 558px;
  height: 604px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--light-green);
  border-top-left-radius: 35%;
  border-bottom-right-radius: 35%;
}
